<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Peliculas app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar [(ngModel)]="term"(ionChange)="searchChanged($event)">
</ion-searchbar>
<ion-item>
  <ion-label>Selecione la pelicula</ion-label>
  <ion-select [(ngModel)]="type"(ionChange)="searchChanged($event)">
  <ion-select-option seleted="true" value="">All</ion-select-option>
  <ion-select-option value="movie">Peliculas</ion-select-option>
  <ion-select-option value="Series">Series</ion-select-option>
  <ion-select-option value="Episode">Episodios</ion-select-option>
</ion-select>
</ion-item>

<ion-list>
    <ion-item button *ngFor="let demo of (results | async)" [routerLink]="['/', 'demo', demo.imdbID]"><!-- [routerLink]="['/', 'demo', demo.imdbID]"-->
<ion-avatar slot="start">
  <img src="{{demo.Poster}}" alt="{{demo.Title}}" *ngIf="demo.Poster != N/A">
</ion-avatar>
<ion-label text-wrap>
  <h3>{{demo.Title}}</h3>
  {{demo.Year}}
</ion-label>
<ion-icon slot="end" *ngIf="demo.Type==='movie'" name="videocam"></ion-icon>
<ion-icon slot="end" *ngIf="demo.Type==='series'" name="tv"></ion-icon>
<ion-icon slot="end" *ngIf="demo.Type==='episode'" name="tablet-portrait"></ion-icon>
  </ion-item>
</ion-list>
</ion-content>
